  <!doctype html>
  <html>
    <head>
      <meta charset=utf8>
      <link rel="stylesheet" href="/assets/style.css" type="text/css">
    </head>
    <div id="wrapper">


      <body>
        <div id="main">

        <header><h1>Personal To Do List</h1></header>

              {{{content}}}

      </main> <!-- END OF MAIN DIV -->

        <footer>
          <div id="footer">
            <p>Created by Curtiss Melvin - ITC298 Final Project</p>
          </div>
        </footer>

    </div> <!--- END OF WRAPPER DIV -->
    </body>
  </html>
