

<div id="form">
<form action="/list" method="POST" style="padding-left: 75px;">
  <legend>Items that must be completed on your To Do List: </legend>
  <input name="description" placeholder="Description"
  <br />
  <input name="date" placeholder="Date">
  <br />
  <p>Update your Status:</p>
  <select name="status" placeholder="Status" style="margin-bottom: 50px;">
    <option value="disabled" disabled selected>Please Select Status</option>
    <option value="complete">Complete</optin>
    <option value="pending">Pending</option>
  </select>
  <br />
  <input type="submit" value="Submit your To Do List">

</form>
</div>
